$content-width: 900px;
$main-color: rgb(255, 55, 169);
$main-background: rgb(20, 20, 20);
$font: 'Open Sans', sans-serif;
$font-color: rgb(10, 10, 10);
$link-font-color: rgb(50, 52, 255);
$link-hover-color: $main-color;
$nav-item-color: rgb(255, 255, 255);
$heading-font: 'Merriweather', serif;
$heading-font-color: rgb(22, 22, 22);
$header: $main-background;
$footer-font-color: rgb(255, 255, 255);
